<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
</style>
</head>

<h2>Choose your Avatar</h2>

<img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/87-512.png" alt="Avatar" class="avatar"></input>
<input type="radio" ><img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/20-512.png" alt="Avatar" class="avatar"></input>
<input type="radio" ><img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/97-512.png" alt="Avatar" class="avatar"></input>
<input type="radio" ><img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/88-512.png" alt="Avatar" class="avatar"></input>
<input type="radio" ><img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/40-512.png" alt="Avatar" class="avatar">


<input type="radio" <img src="https://cdn1.iconfinder.com/data/icons/avatars-1-5/136/31-512.png" alt="Avatar" class="avatar">

</body>
<p> Create username <p>

</html>