<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShatterSpark - An Interactive Connection to Shatterproof</title>
    <meta name="description" content="An interactive connection to Shatterproof">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>
</head>

<body>

<ul id="menu">
    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">ShatterSpark</a></li>
    <li data-menuanchor="secondPage"><a href="#secondPage">Our Resources</a></li>
    <li data-menuanchor="3rdPage"><a href="#3rdPage">About Us</a></li>
</ul>

<div id="fullpage">
    <div class="section active" id="section0">
        <h1>ShatterSpark</h1>
        <p>Has you or a loved one been affected by an opioid addiction?</p>
        <p>Would you like to get involved in our mission to end the epidemic?</p>
        <p id="slidesmalltext">Opiod addiction is a serious chronic illness and needs to be addressed</p>

        <br><br><br><br>
        <p class="introimg">&darr;&#9636;&darr;</p>
    </div>
    <div class="section" id="section1">
        <div class="slide active" id="slide1">
            <div class="intro">
                <h1>Facing Addiction?</h1>
                <br>
                <p>Random fact about the opioid crisis</p>
                <ul id="midmenu">
                    <li data-menuanchor="Take our survey"><a href="{{ url_for('survey') }}">Take our survey</a></li>
                    <li data-menuanchor="View your badges"><a href="{{ url_for('viewBadges') }}">View your Badges</a></li>
                    <li data-menuanchor="Share your story"><a href="{{ url_for('createPost') }}">Share your story</a></li>
                </ul>
            </div>
        </div>
        <div class="slide" id="slide2">
            <div class="intro">
                <h1>Get Involved</h1>
                <br>
                <p>Join the national movement combatting opioid addiction by signing up to volunteer for one of our events</p>
                <ul id="midmenu">
                    <li data-menuanchor="Sign Up"><a href="{{ url_for('volunteer') }}">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <div class="slide" id="slide3">
            <h1>Shattering Stigmas</h1>
            <br>
            <p id="slidesmalltext"><strong>Stigmas</strong> hold back affected individuals and their loved ones every day.</p>
            <p id="slidesmalltext">We believe in educating people about stigmas and their adverse effect in the treatment process.</p>
            <p id="slidesmalltext">Play this fun little game to test your smarts about stigmas</p>
            <p id="slidesmalltext">[Emjois] Play to earn a badge! [Emjois]</p>
            <ul id="midmenu">
                <li data-menuanchor="Play!"><a href="{{ url_for('game') }}">Play!</a></li>
            </ul>
            
        </div>

    </div>
    <div class="section" id="section2">
        <div class="intro">
            <h1>About Us</h1>
            <br>
            <p>Visit our main website at <a href="https://www.shatterproof.org/" target="_blank">https://www.shatterproof.org/</a></p>
            <br><br>
            <p><strong>Read</strong> and submit success stories</p>
            <p><strong>Learn</strong> more about the national stigma strategy</p>
            <p><strong>Join</strong> a local Rise Up Against Addiction 5K</p>
        </div>
    </div>
</div>

</body>

</html>