<!DOCTYPE html>
<html>
<head>
    <title>Survey Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="content" align="center">
    <!DOCTYPE html>

    <style>
        img {
          border-radius: 50%;
        }
        </style>

<img src="https://www.pngfind.com/pngs/m/100-1005532_golden-badge-png-photo-transparent-background-gold-circle.png" style="width:20%;">


    <br>
    <br>
    <p>Congratulations! You received a badge!</p>
    <br>
    <p>Resources near you:</p>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=115LJRLMh5AhYYmgleJpZ1_Walv2m4L1w" width="640" height="480"></iframe>

</div>


</body>
</html>