<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <meta name="description" content="A brief page description">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>
</head>
<body>

<h1>Addiction-Help Survey</h1>

<div class="content">
    <form action="" method="post">
    <p>1) How long have you been battling addiction?</p>

        <input type="radio" name="Q1" value="Less than 1 month"> Less than 1 month<br>
        <input type="radio" name="Q1" value="1-2 months"> 1-2 months<br>
        <input type="radio" name="Q1" value="3-6 months"> 3-6 months<br>
        <input type="radio" name="Q1" value="7-12 months"> 7-12 months<br>
        <input type="radio" name="Q1" value="More than 1 year"> More than 1 year<br>
    
    <p>2) Have you reached out for help in the past?</p>
    
        <input type="radio" name="Q2" value="Yes"> Yes<br>
        <input type="radio" name="Q2" value="No"> No<br>
    
    <p>3) Have you experienced suicidal thoughts or actions in the past year?</p>
    
        <input type="radio" name="Q3" value="Yes"> Yes<br>
        <input type="radio" name="Q3" value="No"> No<br>
    
    <p>4) Have any of your family members also battled addiction?</p>
    
        <input type="radio" name="Q4" value="Yes"> Yes<br>
        <input type="radio" name="Q4" value="No"> No<br>
    
    <p>5) Please enter your postal code:</p>
    <input type="text" name="lastname" value=""><br><br>
    
    <input type="submit" onclick="surveyResults.html" />  
    </form>
</div>
 
</body>
</html>

<style>
    body {
       background-color: lightgrey;
    }
    </style>