<!DOCTYPE html>
<html>
<head>
    <title>Survey Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<div class="content" align="center">
    <img src="https://png.pngtree.com/png-clipart/20190604/original/pngtree-golden-shieldshieldgold-labelgold-badge-png-image_852906.jpg" style="width:20%;">
    <br>
    <p>Congratulations! You received a badge!</p>
    <br>
    <p>Resources for you near you:</p>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=115LJRLMh5AhYYmgleJpZ1_Walv2m4L1w" width="640" height="480"></iframe>

</div>


</body>
</html>