<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>
<body>

<h1>Addiction-Help Survey</h1>
<p>1) How long have you been battling addiction?</p>
<form action="">
    <input type="radio" name="Q1" value="Less than 1 month"> Less than 1 month<br>
    <input type="radio" name="Q1" value="1-2 months"> 1-2 months<br>
    <input type="radio" name="Q1" value="3-6 months"> 3-6 months<br>
    <input type="radio" name="Q1" value="7-12 months"> 7-12 months<br>
    <input type="radio" name="Q1" value="More than 1 year"> More than 1 year<br>
  </form>
<p>2) Have you reached out for help in the past?</p>
<form action="">
    <input type="radio" name="Q2" value="Yes"> Yes<br>
    <input type="radio" name="Q2" value="No"> No<br>
  </form>
<p>3) Have you experienced suicidal thoughts or actions in the past year?</p>
<form action="">
    <input type="radio" name="Q3" value="Yes"> Yes<br>
    <input type="radio" name="Q3" value="No"> No<br>
  </form>
<p>4) Have any of your family members also battled addiction?</p>
<form action="">
    <input type="radio" name="Q4" value="Yes"> Yes<br>
    <input type="radio" name="Q4" value="No"> No<br>
  </form>
<p>5) Please enter your postal code:</p>
<input type="text" name="lastname" value=""><br><br>
<button type="button">Submit</button>

</body>
</html>