<!DOCTYPE html>
<html>
<body>

<h2>Volunteer Registration</h2>

<form action="/action_page.php">
  <fieldset>
    <legend>Personal information:</legend>
    Name*:<br>
    <input type="text" name="firstname" value="                ">
    <input type="text" name="lastname" value="                 ">
    <br><br>

    Address*:<br>
    <input type="text" name="adress" value="                 "><br>
    <input type="text" name="lastname" value="               ">
    <br><br>

    Cell phone*:<br>
    <input type="text" name="cellphone" value="           ">
    <br><br>

    <input type="submit" value="Submit">
  </fieldset>
</form>

<body>



  <h2>What can you do for your community?</h2>

  <form>
    <input type="radio" name="gender" value=" " checked> Shatter Stigma<br>
    <input type="radio" name="gender" value=" "> Promote Fundraiser<br>
    <input type="radio" name="gender" value=" "> Host group Support   
  </form> 
  
  </body>
  </html>