<!DOCTYPE html>
<html>
<body>

<h2>Volunteer Registration</h2>

<form action="/action_page.php">
    Provide your Name:<br>
    <input type="text" name="firstname" value="">
    <input type="text" name="lastname" value="">
    <br><br>

    Provide your Email:<br>
    <input type="text" name="email" value=" ">

    Provide your full phone:<br>
    <input type="text" name="cellphone" value="           ">
    <br><br>

  <p>Which event are you intrested in?<p>
    <input type="which" name="event" value=" " checked> Fundraiser <br>
    <input type="which" name="event" value=" " checked> Local Walk <br>
    <input type="which" name="event" value=" " checked> Support Group <br>

      <p>How did you hear about us?<p>
    <input type="how" name="us" value=" " checked> Online <br>
    <input type="how" name="us" value=" " checked> Family<br>
    <input type="how" name="us" value=" " checked> Friend <br>
    <input type="how" name="us" value=" " checked> Work <br>
    <input type="how" name="us" value=" " checked> Past volunteer <br>

      <input type="submit" value="Submit">

</form> 
  
  </body>
  </html>