<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>HTML Template - Full Page Slider Navigation</title>
    <meta name="description" content="A brief page description">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
              sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
              anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
              menu: '#menu',
            });
        });
    </script>
</head>
<body>

<h2>Volunteer Registration</h2>

<form action="/action_page.php">
    Full Name:<br>
    <input type="text" name="firstname" value="">
    <br><br>

    Email:<br>
    <input type="text" name="email" value=" ">
    <br><br>

    Cell Phone:<br>
    <input type="text" name="cellphone" value="           ">
    <br><br>

    <p>Which event are you intrested in?</p>
<form>
  <input type="radio" name="event" value=" " checked> Fundraiser<br>
  <input type="radio" name="event" value=" "> Local Walk<br>
  <input type="radio" name="event" value=" "> Support Group
</form>

      <p>How did you hear about us?<p>
    <forum>
    <input type="radio" name="us" value=" " checked> Online <br>
    <input type="radio" name="us" value=" " checked> Family<br>
    <input type="radio" name="us" value=" " checked> Friend <br>
    <input type="radio" name="us" value=" " checked> Work <br>
    <input type="radio" name="us" value=" " checked> Past Volunteer Event <br>
    Other
    <input type="text" name="other" value=" ">
    <br><br><br>
    </forum>

     Location Preferred: 
     
    <input type="text" name="location" value=" ">
    <br>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ODjMUKphd9YBbjJpvp-1oK1Kl5muppZp" width="640" height="480"></iframe>
    <br>

    
      <input type="submit" value="Submit">

</form>
    <style>
    body {
       background-color: lightgrey;
    }
    </style>
  </html>